* {	
/*	border: 1px dashed red;
*/	font-family: 'Raleway', sans-serif;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	margin: 0px;
}

/*hyperlink text styling*/
a {
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48pt;
	font-weight: 400;
	text-align: center;
	margin: 15px;
}

/*divider styling*/
hr {
	width: calc(100% - 20px);
	height: 4px;
    border: none;
    background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
}

hr.dark {
	width: 400px;
	height: 4px;
    border: none;
    background: radial-gradient(rgba(28,28,28,1), rgba(28,28,28,0));
}

/* navigation styling */
#nav-wrapper {
	position: fixed;
	margin: 0px;
	width: 100%;
	min-width: 1000px;
	height: 80px;
	background: linear-gradient(#383838, #1C1C1C); 
	color: white;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.5);
	z-index: 99;
}

#nav-wrapper ul {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#nav-wrapper ul li {
	list-style-type: none;
	min-width: 200px;
	height: 80px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-weight: 200;
}

#nav-wrapper ul li:hover {
	list-style-type: none;
	min-width: 200px;
	height: 80px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	font-size: 14pt;
	background: linear-gradient(#383838, rgba(255,255,255,0.05));
}

#login-wrapper {
	display: inline-block;
	float: right;
	width: 480px;
	vertical-align: top;
}

#login-form {
	height: 80px;
	padding-top: 15px;
}

#login-form input[type="text"]{
	height: 40px;
	width: 180px;
	border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #E5E5E5;
    margin: 5px;
	padding: 5px;
}

#login-form input[type="submit"]{
	height: 40px;
	width: 80px;
	border: 1px solid #aaa;
    border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

/* Homepage */

#content-wrapper {
	margin: 0px;
	height: 1900px;
	background-color: #E5E5E5;
}

#homepage-image {
	height: 1000px;
	position: relative;
	background-image: url("../assets/bg-mod.jpg");
	background-image: -webkit-linear-gradient(top,
		rgba(229,229,229,0) 50%,
		rgba(229,229,229,0.9) 85%,
		rgba(229,229,229,1) 100%),
		url("../assets/bg-mod.jpg");
	background-image: -moz-linear-gradient(top,
		rgba(0,0,0,0) 50%,
		rgba(229,229,229,1) 100%),
		url("../assets/bg-mod.jpg");
	background-image: -o-linear-gradient(top,
		rgba(0,0,0,0) 50%,
		rgba(229,229,229,1) 100%),
		url("../assets/bg-mod.jpg");
	background-size: 1600px 1000px;
}

#homepage-text-wrapper {
	width: 50%;
	height: 300px;
	position: absolute;
	margin-top: 300px;
	margin-left: calc(50%/2);
	margin-right: calc(50%/2);
	color: white;
}

#homepage-text-wrapper p {
	font-weight: 200;
	font-size: 24pt;
	text-align: center;
}

#homepage-text-wrapper p#button {
	border: 1px solid white;
	width: 300px;
	margin: auto;
	font-weight: 200;
	font-size: 18pt;
	padding: 10px;
	text-align: center;
}
#howitworks-wrapper {
	width: 100%;
	height: 300px;
	color: rgba(38,38,38,1.0);
}

#howitworks-list {
	text-align: center;
	list-style: none;
	font-size: 18pt;
	color: rgba(38,38,38,0.5);
}

#howitworks-list li {
	margin-bottom: 40px;
}

img.number {
	display: table-cell;
	width: 32px;
	margin: 10px;
	margin-left: calc((100% - 32px)/2);
	margin-right: calc((100% - 32px)/2);

}

#homepage-bottom-image {
	width: 100%;
	height: 600px;
	background-image: url("../assets/nyc-mod.jpg");
	background-image: -webkit-linear-gradient(bottom,
		rgba(28,28,28,0.5) 0%,
		rgba(229,229,229,0.5) 50%,
		rgba(229,229,229,0.9) 85%,
		rgba(229,229,229,1) 100%),
		url("../assets/nyc-mod.jpg");
	background-size: 100% 600px;
}
/*Catalogue page*/

#rental-purchase{
	height: 40px;
	min-width: 120px;
	padding:12px;
	margin-top:30px;
	margin-left: 350px;
	line-height:1;
	background-color:#fff;
	color:#000000;
	font-size:15px;
	outline:none
}

#filter{
	padding-bottom: 90px;
}

#filter-form{
	margin-left: 300px;
	margin-top: 50px;
}

#filter-ul li{
	display: table-cell;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	border: 1px solid black;
}

#filter-size, #filter-style, #filter-color, #filter-type{
	text-decoration: none;
	list-style: none;
}

#filter-size li, #filter-style li, #filter-color li, #filter-type li{
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	padding-left: 20px; 
	padding-right: 20px;
}

#gallery{
	margin-top: 60px;
}

#item1, #item2, #item3, #item4, #item5, #item6{
	width: 300px;
	height: 250px;
	border:1px solid black;
	display: inline-block;
	margin-left: 80px;
	margin-bottom: 20px;
}
/*End of Catalogue page*/

/*Cart page*/
.demo{
	margin-top: 150px;
	position: absolute;
}

.container {
  max-width: 400px;
  background-color: black;
  margin: 0 100px;
  text-align: center;
  position: relative;
}
.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
}

/*button {
  position: absolute;
}*/

.next {
  right: 5px;
  margin-left: 150px;
}

.prev {
  left: 5px;
  margin-left: 50px;
}

/*End of Cart*/
