* {	
/*	border: 1px dashed red;
*/	font-family: 'Raleway', sans-serif;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*hyperlink text styling*/
a {
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 36pt;
	font-weight: 200;
	text-align: center;
}

body {
	margin: 0px;
}

/* navigation styling */
	#nav-wrapper {
		position: fixed;
		margin: 0px;
		width: 100%;
		min-width: 1000px;
		height: 80px;
		background: linear-gradient(#383838, #1C1C1C); 
		color: white;
		box-shadow: 0px 10px 40px rgba(0,0,0,0.8);
		z-index: 99;
	}

	#nav-wrapper ul {
		display: inline-block;
		margin: 0px;
		padding: 0px;
	}

	#nav-wrapper ul li {
		list-style-type: none;
		min-width: 200px;
		height: 80px;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		font-weight: 200;
	}

	#nav-wrapper ul li:hover {
		list-style-type: none;
		min-width: 200px;
		height: 80px;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		font-weight: 400;
		font-size: 14pt;
		background: linear-gradient(#383838, rgba(255,255,255,0.05));
	}

	#login-wrapper {
		display: inline-block;
		float: right;
		width: 480px;
		vertical-align: top;
	}

	#login-form {
		height: 80px;
		padding-top: 15px;
	}

	#login-form input[type="text"]{
		height: 40px;
		width: 180px;
		border: 1px solid #aaa;
	    border-radius: 5px;
	    background-color: #E5E5E5;
	    margin: 5px;
		padding: 5px;
	}

	#login-form input[type="submit"]{
		height: 40px;
		width: 80px;
		border: 1px solid #aaa;
	    border-radius: 5px;
		margin: 5px;
		padding: 5px;
	}

#content-wrapper {
	margin: 0px;
	height: 2000px;
	background-color: #E5E5E5;
}

#homepage-image {
	height: 1000px;
	position: relative;
	background-image: url("../assets/bg-mod.jpg");
	background-size: 1600px 1000px;
}

#homepage-text-wrapper {
	width: 50%;
	height: 400px;
	position: absolute;
	margin-top: 300px;
	margin-left: calc(50%/2);
	color: white;
}

#homepage-text-wrapper p {
	font-weight: 200;
	font-size: 24pt;
	text-align: center;
}


/*Catalogue page*/

#rental-purchase{
	height: 40px;
	min-width: 120px;
	padding:12px;
	margin-top:30px;
	margin-left: 350px;
	line-height:1;
	background-color:#fff;
	color:#000000;
	font-size:15px;
	outline:none
}

#filter{
	padding-bottom: 90px;
}

#filter-form{
	margin-left: 300px;
	margin-top: 50px;
}

#filter-ul li{
	display: table-cell;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	border: 1px solid black;
}

#filter-size, #filter-style, #filter-color, #filter-type{
	text-decoration: none;
	list-style: none;
}

#filter-size li, #filter-style li, #filter-color li, #filter-type li{
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	padding-left: 20px; 
	padding-right: 20px;
}

#gallery{
	margin-top: 60px;
}

#item1, #item2, #item3, #item4, #item5, #item6{
	width: 300px;
	height: 250px;
	border:1px solid black;
	display: inline-block;
	margin-left: 80px;
	margin-bottom: 20px;
}


/*End of Catalogue page*/
